<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Survey name</th>
        <th scope="col" class="px-6 py-3">Description</th>
        <th scope="col" class="px-6 py-3">Action</th>
      </tr>
    </thead>
    <tbody *ngFor="let survey of surveys">
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ survey.title }}
        </th>
        <td class="px-6 py-4">
          {{ survey.description }}
        </td>
        <td class="px-6 py-4 flex flex-row space-x-1">
          <button [routerLink]="['/admin/surveys/', survey.id]">
            <lucide-icon name="eye" class="i-eye" size="20"></lucide-icon>
          </button>
          <button>
            <lucide-icon name="edit" class="i-edit" size="20"></lucide-icon>
          </button>
          <button>
            <lucide-icon name="trash" class="i-trash" size="20"></lucide-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
