
<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 bg-white">
        <thead class="text-xs text-gray-700 uppercase bg-gray-5">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Title
                </th>
                <th scope="col" class="px-6 py-3">
                    Description
                </th>
                <th scope="col" class="px-6 py-3">
                    Questions
                </th>
                <th scope="col" class="px-6 py-3">
                    Access
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b" routerLink="/admin/surveys/{{survey.id}}" *ngFor="let survey of surveys">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                    {{ survey.title }}
                </th>
                <td class="px-6 py-4">
                    {{ survey.description }}
                </td>
                <td class="px-6 py-4">
                    {{ survey.questions.length }}
                </td>
                <td class="px-6 py-4">
                    {{ survey.access_list.length }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
