<div class="relative overflow-x-auto space-y-4 font-medium">
    <div class="flex flex-row space-x-4">
        <table class="w-full text-sm text-left text-gray-500 rounded-xl">
            <caption class="p-5 text-lg font-semibold text-left text-gray-900 bg-white">
                Questions
            </caption>
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Content
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Category
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Type
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Options
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b" *ngFor="let question of survey.questions">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        {{ question.content }}
                    </th>
                    <td class="px-6 py-4">
                        {{ question.category.name }}
                    </td>
                    <td class="px-6 py-4">
                        {{ question.type }}
                    </td>
                    <td class="px-6 py-4">
                        {{ question.options.length >= 1 ? question.options.length : 'N/A' }}
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="w-full text-sm text-left text-gray-500">
            <caption class="p-5 text-lg font-semibold text-left text-gray-900 bg-white">
                Access
            </caption>
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Created At
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Expires At
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Status
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b" *ngFor="let access of survey.access_list">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        {{ access.created_at | date: 'dd/MM/yyyy' }}
                    </th>
                    <th scope="row" class="px-6 py-4 font-medium text-red-600 whitespace-nowrap">
                        {{ access.expires_at | date: 'dd/MM/yyyy HH:mm:ss' }}
                    </th>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        {{ checkAccessStatus(access) }}
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
